//font family start
$font-lato: 'latoblack';

//color variable start
$c-white: #fff;
$c-black: #000;

//size variable start
$s-13: 13px;
$s-16: 16px;
$s-18: 18px;
$s-20: 20px;
$s-24: 24px;
$s-28: 28px;
$s-30: 30px;
$s-34: 34px;


